<% provide(:title, "Home") %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2 page-header">
        <h2>Welcome to Gift Garden <small>Select a path</small></h2>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
  <div class="row row-donna-home-icons ">
    <div class="col-xs-9 col-sm-9 col-sm-offset-2">
      <%=link_to(new_gift_path) do %>
        <%= image_tag("icons/flower1_square.png", height: "64",  alt: "New Gifts", class: "hidden-xs") %><span class="icon-donna-text">New Gifts <small>- Add one or multiple Gifts</small></span>
      <% end %>
    </div>
  </div>
  <div class="row row-donna-home-icons ">
    <div class="col-xs-9 col-sm-9 col-sm-offset-2">
      <%=link_to(reports_path) do %>
        <%= image_tag("icons/butterfly1_square.png", height: "64",  alt: "Reports", class: "hidden-xs") %><span class="icon-donna-text">Reports <small>- generate nicely-formatted reports</small></span>
      <% end %>
    </div>
  </div>
  <div class="row row-donna-home-icons ">
    <div class="col-xs-9 col-sm-9 col-sm-offset-2">
      <%=link_to(activities_path + "?utf8=✓&timeframe=All&sortby=&pageby=&commit=GO" ) do %>
        <%= image_tag("icons/dragonfly1_square.png", height: "64",  alt: "Surf!", class: "hidden-xs") %><span class="icon-donna-text">Surf!<small>- View or edit information online</small></span>
      <% end %>
    </div>
  </div>
  <div class="row row-donna-home-icons ">
    <div class="col-xs-9 col-sm-9 col-sm-offset-2">
      <%=link_to(import_export_path) do %>
        <%= image_tag("icons/ladybug1_square.png", height: "64",  alt: "Surf!", class: "hidden-xs") %><span class="icon-donna-text">Import/Export<small>- transfer data into/out of Gift Garden</small></span>
      <% end %>
    </div>
  </div>