<% provide(:title, "Reports") %>
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="page-header">
      <h2>Reports <small>&nbsp; These executive reports are quickly and easily created. 
      The output of each report is a nicely-formatted PDF file</small> 
      <%= image_tag("icons/flower3_square.png", height: "64",  alt: "Reports", class: "hidden-xs") %></h2>
  	</div>
  </div>
</div>
<!-- Content -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <h3>Basic Reports <small>Prepared reports</small></h3>
    <div class="row report-row" id="activity-report">
      <div class="col-xs-10 "><!-- 'activities.pdf' then  -->
        <%= link_to('/report-activities') do %> <%= image_tag("icons/flower7_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">Activity</span><% end %>
        <span class="report-description">- Donors and Gifts for an Activity</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-donors') do %><%= image_tag("icons/flower1_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">Donor</span><% end %>
        <span class="report-description">- donations of a single Donor</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10"> 
        <%= link_to('/report-gifts') do %><%= image_tag("icons/butterfly2_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">Gifts</span><% end %>
        <span class="report-description">- all Gifts over a time period</span> 
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to trashes_path do %><%= image_tag("icons/bee1_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">Trash</span><% end %>
        <span class="report-description"> - deleted Activities, Donors and Gifts</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <h3>Exotic Reports <small>Custom-tailored reports</small></h3>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-lybunt') do %><%= image_tag("icons/flower5_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">LYBUNT</span><% end %>
        <span class="report-description">- Donors who gave last year but unfortunately not this year</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-new-donors') do %><%= image_tag("icons/flower2_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">New Donors Report</span><% end %>
        <span class="report-description">- new Donors and their Gifts over a timeframe</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-one-donor') do %><%= image_tag("icons/dragonfly1_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">One Donor Report</span><% end %>
        <span class="report-description">- a detailed profile of a selected Donor</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-inkind_gifts') do %><%= image_tag("icons/flower3_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">In Kind Report</span><% end %>
        <span class="report-description">- a listing of all the Gifts donated in kind</span>
      </div>
    </div>
    <!--
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('#') do %><%= image_tag("icons/flower6_square.png", height: "32",  alt: "Graphic Icon", class: "hidden-xs media-object inline-image") %><span class="report-title">Blue Report</span><% end %>
        <span class="report-description">- A list of Gift, sorted by label: personal, corporate, grant, 3rd party, etc.</span>
      </div>
    </div>
    -->
  </div>
  
</div>
