<% provide(:title, "Reports") %>
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="page-header">
      <h2>Reports <small>&nbsp; These executive reports are quickly and easily created. 
      The output of each report is a nicely-formatted PDF file</small> 
      <%= image_tag("icons/butterfly1_square.png", height: "64",  alt: "Reports", class: "hidden-xs") %></h2>
  	</div>
  </div>
</div>
<!-- Content -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <h3>Basic Reports <small>Prepared reports</small></h3>
    <div class="row report-row" id="activity-report">
      <div class="col-xs-10 "><!-- 'activities.pdf' then  -->
        <%= link_to('/report-activities') do %> <%= icon("ship", class: "report-icon") %><span class="report-title">Activity</span><% end %>
        <span class="report-description">- report the donors and gifts for an Activity</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-donors') do %><%= icon("user-secret", class: "report-icon") %><span class="report-title">Donor</span><% end %>
        <span class="report-description">- report donations of a single Donor</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10"> 
        <%= link_to('/report-gifts') do %><%= icon("gift", class: "report-icon") %><span class="report-title">Gifts</span><% end %>
        <span class="report-description">- report all Gifts over a time period</span> 
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to trashes_path do %><%= icon("trash", class: "report-icon") %><span class="report-title">Trash</span><% end %>
        <span class="report-description"> - report deleted activities and donors</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <h3>Exotic Reports <small>Custom-tailored reports</small></h3>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('#') do %><%= icon("calendar-check-o", class: "report-icon") %><span class="report-title">LYBUNT</span><% end %>
        <span class="report-description">- report Donors who gave last year but unfortunately not this year</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to ('/report-new-donors') do %><%= icon("user-plus", class: "report-icon") %><span class="report-title">New Donors Report</span><% end %>
        <span class="report-description">- Report new donors and their Gifts over a timeframe.</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-one-donor') do %><%= icon("user", class: "report-icon") %><span class="report-title">One Donor Report</span><% end %>
        <span class="report-description">- A detailed profile of a selected donor.</span>
      </div>
    </div>
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('/report-inkind_gifts') do %><%= icon("recycle", class: "report-icon") %><span class="report-title">In Kind Report</span><% end %>
        <span class="report-description">- A listing of all the gifts donated in kind.</span>
      </div>
    </div>
    <!--
    <div class="row report-row">
      <div class="col-xs-10">
        <%= link_to('#') do %><%= icon("star", class: "report-icon") %><span class="report-title">Blue Report</span><% end %>
        <span class="report-description">- A list of Gift, sorted by label: personal, corporate, grant, 3rd party, etc.</span>
      </div>
    </div>
    -->
  </div>
  
</div>
