<% provide(:title, "Log In") %>
<div class='container-fluid login_container'>
    <div class='row'>
        <div class='col-md-4 col-md-offset-1 well session-login'>
            <h1 class="login-header-text">Gift Garden V1.0</h1>
            <br>
                <%= form_for(:session, url: login_path) do |f| %>
                    <div class="form-group">
                        <%= f.label :username %>
                        <%= f.text_field :username, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control' %>
                    </div>
                    <br>
                    <div class="form-group">
                        <center><%= f.submit "Log in", class: "btn btn-success btn-wide  btn-lg center-block" %></center>
                    </div>
                <% end %>
                <br>
                <div class="text-center">
                    
                </div>
                <div class='text-center'>
                    <!--Beta Version; -->
                    <%= link_to "About Gift Garden", about_path %>
                </div>
        </div>
    </div>
</div>


<script>
    //focuses into the username field when the page loads for convenience
    $( document ).ready(function() {
        $("#session_username").focus();
        //trim whitespace out of username on login
        $(".btn.btn-success").click(function() {
           var rawUsername = $("#session_username").val();
           var trimUsername = $.trim(rawUsername);
           $("#session_username").val(trimUsername);
        });
    });

    //centers the git version # into the iframe below the login form
    $('iframe').load( function() {
        $('iframe').contents().find("body").css("text-align", "center");
    });    
</script>
