<% provide(:title, "Import Gifts Step Two") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class='import-header'>
  		<h2 class="import-color">Second Step<small>&nbsp; Upload your file for validation.</small></h2>
  	</div>
  </div>
</div>

&nbsp;
<div class="row">
  <%= form_tag import_gifts_validate_path, multipart:true do %>
    <div class="row form-group">
      <div class="col-sm-10 col-xs-offset-2">
        <ol>
          <li>Click "Choose File" to upload your file.</li>
          <li>Click "Validate" to validate your data.</li>
          <li>Click "Next Step" to go to the third step.</li>
        </ol>
      </div>
    </div>
    
    <div class="row form-group">
      <div class="col-sm-4 col-xs-offset-2">
        <div class="line-break">
          <p>Select a file:</p>
        </div>
        <%= file_field_tag :file %>
      </div>
    </div>

    &nbsp;
    <div class=" row form-group">
      <div class="col-xs-8 col-xs-offset-1 text-center">
        <%= submit_tag "Validate", class: "btn btn-success" %>
        &nbsp;
        <%= link_to "Next Step", import_gifts_step_three_path, class: "btn btn-success" %>
        &nbsp;
        <%=link_to "Cancel", import_gifts_inst_path, class: "btn btn-warning" %>
      </div>
    </div>
  <% end %>
</div>