<% provide(:title, "Import Gifts Begin") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class='import-header'>
  		<h2 class="import-color">Upload Gifts CSV <small>&nbsp; Upload gifts from a CSV file and validate.</small></h2>
  	</div>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
    <h4>
      <ol>
        <li>Choose an activity.</li>
        <li>Choose a file.</li>
        <li>Click "Validate".  Review the downloaded CSV file.</li>
        <li>Click "Next".</li>
      </ol>
    </h4>
  </div>
</div>

&nbsp;

<div class="row">
  <%= form_tag import_gifts_validate_path, multipart:true do %>
    <div class="row form-group">
      <div class="col-sm-4 col-xs-offset-2">
        <div class="line-break">
  			 <p>Activity</p>
  		  </div>
  		  <%= select_tag "activity", options_from_collection_for_select(@activities, "id", "name") %>
      </div>
      
      <div class="col-sm-4">
        <div class="line-break">
          <p>Select a file:</p>
        </div>
        <%= file_field_tag :file %>
      </div>
    </div>
    
    <div class=" row form-group">
      <div class="col-xs-8 col-xs-offset-1 text-center">
        <%= submit_tag "Validate", class: "btn btn-success" %>
        &nbsp;
        <%= submit_tag "Next", class: "btn btn-warning" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $("input.btn.btn-success").removeAttr("data-disable-with")
    $("input.btn.btn-success").click(function(){
        $("form")[0].reset();
    });
});
</script>