<% provide(:title, "Import Gifts Instruction") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class='import-header'>
  		<h2 class="import-color">Instruction<small>&nbsp; follow 3 easy steps to import gifts.</small><%= image_tag("icons/butterfly1_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="activity-text col-sm-8 col-xs-offset-2">
    <%= link_to "Step 1:  Download a CSV template and fill in the fields.", "/import-gifts-step-one" %></br>
    <%= link_to "Step 2:  Data validation.", "/import-gifts-step-two" %></br>
    <%= link_to "Step 3:  Import gifts.", "/import-gifts-step-three" %>
  </div>
</div>
&nbsp;
<div class="row">
  <div class="col-sm-8 col-xs-offset-4">
    <%= link_to "Begin", import_gifts_step_one_path, class:"btn btn-success" %>
    &nbsp;
    <%= link_to "Cancel", import_export_path, class:"btn btn-warning" %>
  </div>
</div>

