<% provide(:title, "Import in Kind Gifts") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class='import-header'>
  		<h2 class="import-color">Import in Kind<small>&nbsp; transfer in Kind Gifts to Gift Garden from a .csv file.</small><%= image_tag("icons/butterfly2_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>
  
  <!-- Content -->
  <br />
  <div id='import-sides'>
    <div id='import-inkind'>
      <h4>Gifts</h4>
        <div class='import-export-label'>
  		    <%= form_tag inkind_gifts_path, multipart:true do %>
  			  <span class='import-export-label'>Choose Activity:</span>
  			  <%= select_tag "activity",
  			  options_from_collection_for_select(@activities, "id", "name") %>
  			  <br /><br />
  			
  			  <%= file_field_tag :file %>
  			
	        <br />
	        <%= submit_tag "Import Gifts from CSV" %>
    	    <% end %>
    	  </div>
    	  <br /><br /><br /><br />
      <%=link_to "Cancel", import_export_url, class: "btn btn-warning" %>
    </div>
  </div>