<% provide(:title, "Surf Donors") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="page-header-surf">Surf Donors <small>&nbsp; View all Donors; select row to edit</small><%= image_tag("icons/flower2_square.png", height: "48",  alt: "New Donor", class: "pull-right hidden-xs") %></h2>
  		<div class="row relative-row">
        <div class="text-left bottom-vertical-align">
          <span class="record-count">There are <%= pluralize(@selected_donors.count, "donor") %>.</span>
        </div>
        <div class="text-right">
          <%= link_to(new_donor_path) do %>
        	  <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Donor</span>
        	<% end %>
          <div>
            <%=link_to "All Activities", activities_url + "?utf8=✓&timeframe=All&sortby=&pageby=&commit=GO" %>&nbsp; | &nbsp;<%=link_to "All Gifts", gifts_url + "?utf8=✓&activity_id=&donor_id=&timeframe=All&sortby=&pageby=&commit=GO" %>
          </div>
        </div>
      </div>
  	</div>
  </div>
</div>

<!--dropdown for filter/sort options-->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-plus"></span>Filter/Sort Donors
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">  
            <%= render 'search_form' %> 
          </div>
        </div>
      </div>
      
      <% if @selected_donors.count != 0 %>
      <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Num Gifts</th>
            <th>Gift Total</th>
            <th>Last Gift Date</th>
          </tr>
        </thead>
        <tbody>
          <% @selected_donors.each do |donor| %>
          <tr data-link="<%= edit_donor_path(donor) %>">
            <td><%= get_donor_id(donor) %></td>
            <td><%= "#{donor.first_name} #{donor.last_name}" %></td>
            <td><%= gift_count_per_donor(donor) %></td>
            <td><%= number_to_currency(gift_total_amount_per_donor(donor), precision: 0) %></td>
            <td><%= last_gift_date(donor) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @selected_donors, :inner_window => 2, class: "pagination pagination-centered" %>
      <% else %>
        <h3 class="no-records-found">No donors located given your search criteria.</h3>
      <% end %>
      </div>
    </div>
  </div>
</div>
