<% provide(:title, "Hyper Surf Gift Garden") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Hyper Surf Gift Garden</h2>
  		<div class="row relative-row">
        <div class="text-left">
          <span class="record-count"><%= pluralize(@all_search_results.count, "result") %> located for the surf term "<%= params[:term] %>" .</span>
        </div>
      </div>
  	</div>
  	
  </div>
</div>

<section id='donor_search row'>
  <div class="col-sm-8 col-xs-offset-2">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-minus"></span>Filter/Sort Hyper Surf
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">  
            <%= form_tag hyper_surf_all_path, :method => 'get' do %>
                <%= text_field_tag :term, params[:term] %>
                <%= submit_tag 'Hyper Surf Gift Garden', class: 'btn btn-success' %>
              <% end %>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @all_search_results.each do |surf| %>
          <tr>
            <td>DON<%= surf.id %></td>
            <td><%= surf.first_name %></td>
            <td><%= surf.last_name %></td>
            <td><%= surf.address %></td>
            <td><%= surf.city %></td>
            <td><%= surf.state %></td>
            <td><%= surf.email %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @all_search_results, :inner_window => 2,  class: "pagination pagination-centered" %>
    </div>
  </div>
</section>
<!--%= will_paginate @donor_search_results %-->
