<!--form to build filter/sort options-->
<%= form_tag({controller: "gifts", action: "index"}, method: :get) do %>
  <div class="row form-group">
    <div class="col-xs-2">
      <div class="line-break">
        <p>Activity</p>
      </div>
      <%= select_tag :activity_id,  options_for_select(@activities.sort!, :selected => params[:activity_id] || "" ), include_blank: "Select an activity", class:'form-control input-sm' %>
      <!--%= select_tag(:activity_id, options_for_select(@activities, params[:activity_id] || "" ), include_blank: "All Activities", class: 'form-control input-sm') %-->
    </div>
    <div class="col-xs-2">
      <div class="line-break">
        <p>Donor</p>
      </div>
      <%= select_tag :donor_id, options_for_select(@donors.sort!, :selected => params[:donor_id]), include_blank: "All Donors", class: 'form-control input-sm' %>
      <!--%= select_tag(:donor_id, options_for_select(@donors, params[:donor_id] || ""), include_blank: "All Donors", class: 'form-control input-sm') %-->
    </div>
    <div class="col-xs-2">
      <div class="line-break">
        <p>Timeframe</p>
      </div>
      <%= select_tag(:timeframe, options_for_select(Gift::TIMES, params[:timeframe]), class: 'form-control input-sm') %>
    </div>
    <div class="col-xs-2">
      <div class="line-break">
        <p>Sort By</p>
      </div>
      <%= select_tag(:sortby, options_for_select(Gift::SORTS, params[:sortby]), include_blank: " ", class: 'form-control input-sm') %>
    </div>
    <div class="col-xs-2">
      <div class="line-break">
        <p>Gifts Per Page</p>
      </div>
      <%= select_tag(:pageby, options_for_select(Gift::PAGEBY, params[:pageby]), class: 'form-control input-sm') %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-2">
      <%= submit_tag 'Filter', class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="line-break explaination">
        The timeframe filter applies to gift date.
      </div>
    </div>
  </div>
<% end %>