<% provide(:title, "Surf Gifts") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Surf Gifts <small>&nbsp; Select a row to view or edit that gift</small></h2>
  		<div class="row relative-row">
        <div class="text-left bottom-vertical-align">
          <span class="record-count">There are <%= pluralize(@selected_gifts.count, "gift") %>.</span>
        </div>
        <div class="text-right">
          <%= link_to(new_gift_path) do %>
        	  <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Gift</span>
        	<% end %>
          <div>
            <%=link_to "All Activities", activities_url + "?utf8=✓&timeframe=All&sortby=&pageby=&commit=GO" %>&nbsp; | &nbsp;<%=link_to "All Donors", donors_url + "?utf8=✓&timeframe=All&sortby=&pageby=&commit=GO" %>
          </div>
        </div>
      </div>
  	</div>
  </div>
</div>

<!--dropdown for filter/sort options-->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-plus"></span>Filter/Sort Gifts
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">  
            <%= render 'search_form' %>
          </div>
        </div>
      </div>
      
      <!--Table -- list all requested gifts-->
      <% if @selected_gifts.count != 0 %>
      <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Donor</th>
            <th>Date</th>
            <th>Activity</th>
            <th>Amount</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <% @selected_gifts.each do |gift| %>
          <!--find the gifts that match the selected activity and donor-->
          <tr data-link="<%= edit_gift_path(gift) %>">
            <td><%= get_gift_id(gift) %></td>
            <td><%= Donor.find(gift.donor).first_name + " " + Donor.find(gift.donor).last_name %></td>
            <td><%= gift.donation_date.strftime("%B %d, %Y") %></td>
            <td><%= Activity.find(gift.activity).name %></td>
            <td><%= number_to_currency(gift.amount) %></td>
            <td><%= gift.gift_type %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @selected_gifts, :inner_window => 2,  class: "pagination pagination-centered" %>
      <% else %>
      <h3 class="no-records-found">No gifts located given your search criteria.</h3>
      <% end %>
      </div>
    </div>
  </div>
</div>
