<% provide(:title, "Surf Activities") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Surf Activities <small>&nbsp; Select a row to view or edit that activty</small></h2>
  		<div class="row relative-row">
    		<div class="text-left bottom-vertical-align">
          There are <%= pluralize(@activities.count, "activity") %>.
    		</div>
    		<div class="text-right">
    		  <%= link_to(new_activity_path) do %>
  			    <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Activity</span>
  		    <% end %>
    		  <div>
        		  <%=link_to "All Donors", donors_url %>&nbsp; | &nbsp;<%=link_to "All Gifts", gifts_url + "?activity_id=&donor_id=&commit=GO" %>
          </div>
    		</div>
  		</div>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <% if @activities.count != 0 %>
    <table class="table table-striped table-hover table-bordered table-responsive">
      <%= will_paginate @activities %>
      <thead>
        <tr>
          <th>Name</th>
          <th>End Date</th>
          <th>Goal</th>
          <th>Progress</th>
          <th>Donors</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
        <tr data-link="<%=edit_activity_path(activity) %>">
          <td><%= activity.name %></td>
          <td><%= activity.end_date.strftime("%B %d, %Y") %></td>
          <td><%= number_to_currency(activity.goal) %></td>
          <td><%= progress(activity) %>%</td>
          <td><%= donor_count_per_activity(activity)%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @activities %>
    <% else %>
    <h3>No activities located given your search criteria.</h3>
    <% end %>
  </div>
</div>