<% provide(:title, "Activities Report") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
    <div id="flash"></div>
    <div class="page-header">
      <h2>Activities Report <small>&nbsp;
      All Activities within the specifications are saved to a PDF file: <br />
      <b>Activity Report <%= Time.now.to_date.to_s %>.pdf</b></small></h2>
  	</div>
  </div>
</div>
<!-- Content -->
<%= form_tag '/report-activities-pdf', multipart:true do %>

  <section class='report-container'>
    <div class="report-left-half">
      <span class='report-tab'>Timeframe:</span><br />
        <%= select_tag 'timeframe', options_for_select(Activity::TIMES) %>
    </div>
  </section><br />
  
  <section class='report-container'>
    <div class="report-left-half">
      <span class='report-tab'>Sort By:</span><br />
      <%= select_tag 'sortby', options_for_select(Activity::SORTSBASIC) %>
    </div>
  </section><br />
  
  <div class="report-submit">
    <%= submit_tag "Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
  
<% end %>

<script>
  //allows Report button to be used repeatedly, and resets the form
  var reportButton = $("input.btn.btn-success");
  $(document).ready(function(){
    reportButton.removeAttr("data-disable-with")
    reportButton.click(function(){
      $("form")[0].reset();
      //register event listener for flash() on Report button
      flash();
    });
  });

  //flash notification for report generation
  var flashdiv = document.getElementById('flash');
  function flash(){
    if ($("#flash").html().length > 0) {
      $("#flash").fadeOut();
      $("#flash").fadeIn();
    } else {
      flashdiv.className = "alert alert-success";
      flashdiv.innerHTML =  "Activities report generated."; 
    }
  }
</script>
