<% provide(:title, "Donors Report") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
    <div class="page-header">
      <h2>Donors Report <small>&nbsp;All Donors within a timeframe are saved to a PDF file.</small></h2>
    </div>
  </div>
</div>

<!-- Content -->
<%= form_tag '/report-donors-pdf', multipart:true do %>
<section class='report-container'>
  <div class="report-left-half">
    <span class='report-tab'>Timeframe:</span>
    <%= select_tag 'times', options_for_select(Donor::TIMES) %>
  </div>
  <div class="report-right-half">
    <span class='report-tab'>Top N:</span>
    <%= select_tag 'topn', options_for_select(Donor::TOPN) %>
  </div>
</section>

<section class='report-container'>
  <div class="report-left-half">
    <br />
    <span class='report-tab'>Sort By:</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= select_tag 'sorts', options_for_select(Donor::SORTS) %>
  </div>
  <div class="report-right-half">
    <p>
      <span class='report-tab'>Layout:</span>
      <br />
    </p>
    <%= radio_button_tag(:layout, "portrait", checked = true) %>
    <%= label_tag(:layout_portrait, "Regular") %><br />
    <%= radio_button_tag(:layout, "landscape") %>
    <%= label_tag(:layout_landscape, "Full Contact") %>
  </div>
</section>
<br /><br />
<div class="report-submit">
  <%= submit_tag "Generate Report", class: "btn btn-success" %>
  &nbsp;
  <%=link_to "Cancel", reports_url, class: "btn btn-warning" %>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("input.btn.btn-success").removeAttr("data-disable-with")
    $("input.btn.btn-success").click(function(){
        $("form")[0].reset();
    });
  });
</script>
