<% provide(:title, "Donors Report") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
    <div id="flash"></div>
    <div class="page-header">
     <h2>Donors Report <small>&nbsp;
      All Donors within the specifications are saved to a PDF file: <br />
      <b><span id='reportTitle'>Donors Report <%= Time.now.to_date.to_s %>.pdf</span></b></small></h2>
    </div>
  </div>
</div>

<!-- Content -->
<%= form_tag '/report-donors-pdf', multipart:true do %>

  <div class='report-container'>
    <section>
        <span class='report-tab'>Timeframe:</span><br />
        <%= select_tag 'times', options_for_select(Donor::TIMES) %>
    </section><br />
        
    <section>
        <span class='report-tab'>Sort By:</span><br />
        <%= select_tag 'sorts', options_for_select(Donor::SORTS) %>
    </section><br />
        
    <section>
        <span class='report-tab'>Top N:</span><br />
        <%= select_tag 'topn', options_for_select(Donor::TOPN) %>
    </section><br />
  
    <section>
        <%= check_box_tag 'landscape', 'yes', false %>
        <%= label_tag(:landscape, "Full Contact") %>
    </section><br />
    
    <div>
      <%= submit_tag "Report", class: "btn btn-success" %>
      &nbsp;
      <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<script>
  //allows Report button to be used repeatedly, and resets the form
  var reportButton = $("input.btn.btn-success");
  $(document).ready(function(){
    reportButton.removeAttr("data-disable-with")
    reportButton.click(function(){
      $("form")[0].reset();
      //register event listener for flash() on Report button
      flash();
    });
    //changes report name @ top when Full Contact gets checked
    $("#landscape").click(function(){
      if ($('#landscape').is(":checked")) {
        $("#reportTitle").text("Donors Full Contact Report <%= Time.now.to_date.to_s %>.pdf");
      } else {
        $("#reportTitle").text("Donors Report <%= Time.now.to_date.to_s %>.pdf");
      }
    });
  });

  //flash notification for report generation
  var flashdiv = document.getElementById('flash');
  function flash(){
    if ($("#flash").html().length > 0) {
      $("#flash").fadeOut();
      $("#flash").fadeIn();
    } else {
      flashdiv.className = "alert alert-success";
      flashdiv.innerHTML =  "Donors report generated."; 
    }
  }
</script>
