<% provide(:title, "Gifts Report") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
    <div class="page-header">
      <h2>Gifts Report <small>
      All Gifts within a timeframe are saved to a PDF file.</small></h2>
  	</div>
  </div>
</div>
<!-- Content -->
<%= form_tag '/report-gifts-pdf', multipart:true do %>
  <section class='report-container'>
    <div class='report-third-left'>
      <span class='report-tab'>Activity:</span><%= select_tag "activity",
  			  options_from_collection_for_select(@activities, "id", "name") %>
    </div>
  </section>
  <br />
  <section class='report-container'>
    <div class='report-left-half'>
      <span class='report-tab'>Top N:</span>
      <%= select_tag 'topn', options_for_select(Gift::TOPN) %>
    </div>
    <div class="report-half-right">
      <span class='report-tab'>Sort By:</span>
        <%= select_tag 'sorts', options_for_select(Gift::SORTS) %>
    </div>
  </section>
  <section class='report-container'>
    <div class='report-left-half'>
      <span class='report-tab'>Timeframe:</span>
        <%= select_tag 'times', options_for_select(Gift::TIMES) %>
    </div>
    <div class="report-right-half">
      <span class='report-tab'>Layout:</span><br />
      <%= radio_button_tag(:layout, "portrait", checked = true) %>
      <%= label_tag(:layout_portrait, "Regular/Portrait") %><br />
      <%= radio_button_tag(:layout, "landscape") %>
      <%= label_tag(:layout_landscape, "Long/Landscape") %>
    </div>
  </section>
  <br /><br />
  <div class="report-submit">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-warning" %>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    $("input.btn.btn-success").removeAttr("data-disable-with")
    $("input.btn.btn-success").click(function(){
        $("form")[0].reset();
    });
});
</script>

