<% provide(:title, "In Kind Gifts Report") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="page-header">
      <h2>In Kind Gifts Report <small>&nbsp;
      All Gifts within the specifications are saved to a PDF file: <br />
      <b>In Kind Gifts Report <%= Time.now.to_date.to_s %>.pdf</b></small><%= image_tag("icons/flower3_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>

<!-- Form Content -->
<%= form_tag '/report-inkind-pdf', multipart:true do %>

  <section class='report-container'>
    
    <div class='report-third-left'>
      <span class='report-tab'>Activity:</span><br />
      <%= select_tag "activity", options_from_collection_for_select(@activities, "id", "name") %>
    </div>

    <div class='report-third-middle'>
      <span class='report-tab'>Timeframe:</span><br />
      <%= select_tag 'times', options_for_select(Gift::TIMES) %>
    </div>

    <div class='report-third-right'>
      <span class='report-tab'>Sort By:</span><br />
      <%= select_tag 'sorts', options_for_select(Gift::SORTS) %>
    </div>

  </section><br />

  <div class="report-submit">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
<% end %>
<!-- end Form Content -->

<!-- Allows Report button to be used repeatedly, and resets the form. -->
<script>
  $(document).ready(function(){
    $("input.btn.btn-success").removeAttr("data-disable-with")
    $("input.btn.btn-success").click(function(){
        $("form")[0].reset();
    });
});
</script>

