<% provide(:title, "Donors Report") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div id="flash"></div>
    <div class="page-header">
     <h2>New Donors Report</h2>
     <p><b>This report lists new Donors.</b></p>
     <p><b>A Donor is considered "new" as of he date of his/her first Gift.</b></p>
    </div>
  </div>
</div>

<!-- Content -->
<%= form_tag '/report-new-donors-pdf', multipart:true do %>

  <section class='report-container'>
    <div class="col-sm-4">
      <span class='report-tab'>Timeframe:</span><br />
      <%= select_tag 'times', options_for_select(Donor::TIMES) %>
    </div>
    <div class="col-sm-4">
      <span class='report-tab'>Sort By:</span><br />
      <%= select_tag 'sorts', options_for_select(Donor::SORTS) %>
    </div>
    <div class="col-sm-4">
      </br>
      <%= check_box_tag 'full_contact', 'yes', false %>
      <%= label_tag(:full_contact, "Full Contact") %>
    </div>
  </section>
  &nbsp;
  <div class="report-submit">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
<% end %>

<script>
  //allows Report button to be used repeatedly, and resets the form
  var reportButton = $("input.btn.btn-success");
  $(document).ready(function(){
    reportButton.removeAttr("data-disable-with")
    reportButton.click(function(){
      $("form")[0].reset();
      //register event listener for flash() on Report button
      flash();
    });
  });

  //flash notification for report generation
  var flashdiv = document.getElementById('flash');
  function flash(){
    if ($("#flash").html().length > 0) {
      $("#flash").fadeOut();
      $("#flash").fadeIn();
    } else {
      flashdiv.className = "alert alert-success";
      flashdiv.innerHTML =  "New Donors Report generated."; 
    }
  }
</script>
