<% provide(:title, "One Donor Report") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div id="flash"></div>
    <div class="page-header">
      <h2>One Donor Report <small>
      The report lists the contact information and Gifts from the selected Donor</small><%= image_tag("icons/dragonfly1_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>

<!-- Form Content -->
<%= form_tag '/report-one-donor-pdf', multipart:true do %>

  <section class='report-container'>
    <div class='report-left-half'>
      <span class='report-tab'>Donor:</span><br />
      <%= select_tag "donor", options_from_collection_for_select(@donors, "id", "full_name_id") %>
    </div>
  </section>
  <br />
  
  <div class="report-submit">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
<% end %>
<!-- end Form Content -->

<script>
  //allows Report button to be used repeatedly, and resets the form
  var reportButton = $("input.btn.btn-success");
  $(document).ready(function(){
    reportButton.removeAttr("data-disable-with")
    reportButton.click(function(){
      $("form")[0].reset();
      //register event listener for flash() on Report button
      flash();
    });
  });

  //flash notification for report generation
  var flashdiv = document.getElementById('flash');
  function flash(){
    if ($("#flash").html().length > 0) {
      $("#flash").fadeOut();
      $("#flash").fadeIn();
    } else {
      flashdiv.className = "alert alert-success";
      flashdiv.innerHTML =  "One Donor report generated."; 
    }
  }
</script>

